{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "babel-plugin-ts-nameof",
        "babel-plugin-styled-components",
    ],
    "env": {
        "production": {
            "plugins": [
                "babel-plugin-transform-remove-console"
            ]
        }
    }
}